.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#ffebcd;
}

h1 {
  margin: 30px;
  font-family: 'Changa One', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: 	#6495ed;
}

p {
  font-size: 2rem;
  color:	#a52a2a;
  font-family: 'Changa One', cursive;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #008080;
  text-align: center;
  font-family: 'Bangers', cursive;

}
